@media (max-width:1199px) {
    .aside-container{
        left: -270px;
    }
    .aside-container.open{
        left: 0;
    }
    .nav-toggler.open{
        left: 300px;
    }
     .nav-toggler{
        display: flex;
        left: 30px;
        z-index: 9;
    }
    .section{
        left: 0;
    }
    .section.open{
        left: 270px;
    }
    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px){
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img{
        display: none;
    }
}

@media (max-width:900px){
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home__info, .home__img, .service-item{
      flex: 0 0 100%;
        max-width: 100%;
    }
    .home__img{
      margin-top: 95px;
    }
}